{% extends 'base.html' %}

{% block body_block %}
<div class="background-overlay">
    <div class="container center-align">
      <div class="row">
        <div class="col s12">
          <h2>Welcome to Our Family Website</h2>
          <p>This website is dedicated to our wonderful family. Feel free to explore and learn more about us!</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">About Us</span>
              <p>Welcome to our family! We are a close-knit group of individuals who cherish each other's company and share a deep bond rooted in love, laughter, and shared experiences.
                Our family's story is one of resilience, growth, and togetherness. Through life's ups and downs, we have stood by each other, offering unwavering support and encouragement every step of the way.
                From our memorable family gatherings filled with joy and laughter to the quiet moments of reflection and connection, every interaction strengthens the ties that bind us together.
              </p>
            </div>
            <div class="card-action">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Gallery</span>
              <p>View photos and memories of our family.</p>
            </div>
            <div class="card-action">
              <a href="#">View Gallery</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
 
  

{% endblock %}